* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}
.box {
    background-color: rgb(76, 192, 76);
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
